.content__title {
  color: rgb(34, 52, 61);
  font-family: Poppins;
  font-size: 34px;
  font-weight: 700;
  line-height: 51px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 8px;
}

.content__text {
  color: rgb(34, 52, 61);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 32px;
}

.content__card_item_paragraph {
  color: rgb(34, 52, 61);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 12px;
  padding-top: 24px;
  padding-left: 24px;
}

.content__card_item_text {
  color: rgb(34, 52, 61);
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0px;
  padding-top: 12px;
  padding-left: 24px;
}

.content__cards_item {
  width: 350px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
}

.content__cards_list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 118px;
}
